.metaNavigation {
  float: right;
  font-size: rem(16);
  li {
    display: inline-block;
    float: left;
    a {
      color: $white;
      &:hover {
        color: $brand-primary;
        text-decoration: underline;
      }
    }
    &:after {
      content: '|';
      display: inline-block;
      padding: rem(0 5);
    }
    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}

.homepage {
  .metaNavigation {
    color: $black;
    text-shadow: none;
    a {
      color: $black;
    }
  }
}