.navbar.navigationPrimary {
  .navbar-toggler {
    background: inline-image('02_menu_svgs/planet-0-menu.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 6rem;
    width: 6rem;
    &:hover {
      cursor: pointer;
    }
  }
}

@import "gooeyMobile";