.metaNavigation {
  float: right;
  font-size: rem(16);
  padding: rem(15 0);
  li {
    display: inline-block;
    float: left;
    padding-left: rem(15);
    a {
      color: $white;
      &:hover {
        color: $brand-primary;
        text-decoration: underline;
      }
    }
    &:not(:last-of-type) {
      margin-right: 15px;
    }
  }
}

.homepage {
  .metaNavigation {
    color: $black;
    text-shadow: none;
    a {
      color: $black;
    }
  }
}