// Sets height of html, body, container-fluid to viewport height
html,
body {
  color: $white;
  height: 100%;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a292b+0,1a292b+50,182628+100 */
  background: #1a292b; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #1a292b 0%, #1a292b 50%, #182628 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #1a292b 0%,#1a292b 50%,#182628 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #1a292b 0%,#1a292b 50%,#182628 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a292b', endColorstr='#182628',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  font-family: $font-family-sans-serif;
}

.stars {
  background-image: inline-image('stars.svg');
  background-size: cover;
  height: 100%;
  width: 100%;
  footer {
    @include clearfix;
    z-index: 20;
  }
}

// Element margin
.offsetBox > div {
  margin-bottom: rem(45);
}

// Arranges main template
.container-fluid {
  position: relative;
  z-index: 10;
  &.contentTop {
    padding-top: rem(80);
  }
  > .content > .col {
    max-width: rem(1280);
  }
}

.fadeOutContainer {
  opacity: 1;
  transition: opacity 1s linear;
  &.hide {
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
  }
}